/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poiret+One&family=Shadows+Into+Light+Two&display=swap');

 /* reseting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* stablishing base styles for all elements */
    /* font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal; */
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */


body {
    background-color: #211C84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
    align-items: flex-start;
}

h1 {
    color: white;
    height: 60px;
    font-size: 60px;
    margin-bottom: 30px;
}

h2 {
    color: whitesmoke;
    height: 50px;
    font-size: 40px;
    margin-bottom: 30px;
}

.tarjetas, .btn-ataques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
}


/* Hide the default radio and checkbox inputs to replace them with custom ones */
.tarjeta-mascota input[type="radio"] {
    display: none;
}

.tarjeta-mascota {
    background-color: #4D55CC;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.tarjeta-mascota:hover {
    background-color: rgba(181, 168, 213, 0.4);
}


.tarjeta-mascota label {
    color: whitesmoke;
    height: 50px;
    font-size: 36px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.tarjeta-mascota input[type="radio"]:checked + p,
.tarjeta-mascota input[type="radio"]:checked + img {
    /* Esto es solo para ayudarte a depurar si no se aplica el estilo */
    color: #211C84;
}

.tarjeta-mascota label:has(input[type="radio"]:checked) {
    text-shadow: 0 0 40px white, 0 0 50px white, 0 0 60px white;
    color: #ffffff;
    font-weight: bold;
}

.tarjeta-mascota label:has(input[type="radio"]:checked) img {
    filter: drop-shadow(0 0 20px white) drop-shadow(0 0 30px white);
    transform: scale(1.05);
    transition: 0.3s ease;
}

.tarjeta-mascota img {
    height: 120px;
    margin-top: 10px;
}

button {
    background-color: transparent;
    border: 0px;
    color: whitesmoke;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px rgba(245, 245, 245, 0.75);
    cursor: pointer;
}

#seleccionar-ataque {
    /* display: flex; */ /*se puede quitar porque lo toma del javascript */
    flex-direction:column;
    justify-content: center;
    align-items: center;
} 

.boton-ataque {
    background-color: rgba(181, 168, 213, 0.2);
    padding: 10px;
    border-radius: 25px;
    border-color: transparent;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.boton-ataque:hover {
    background-color: rgba(181, 168, 213, 0.5);
}

#mensajes {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 32px;
    color: whitesmoke;
    text-align: center;
}

#boton-reiniciar {
    margin-bottom: 30px;
}

#zona-ataques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-mascota-jugador{
    height: 100px;
}

#img-mascota-enemigo{
    height: 100px;
}

.tittleTag {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;
}

.nombreMascota {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.vidas {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
    color:#B5A8D5;
    font-size: 24px;
}

#zona-ataques {
    display: grid;
    grid-template-columns: 1fr 100px 1fr; /* 3 columnas */
    grid-template-rows: auto auto;       /* 2 filas */
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 20px;
}
  
  /* Fila 1 */
#seccion-mascota-jugador, #seccion-mascota-enemigo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgba(77, 85, 204, 0.6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px rgba(245, 245, 245, 0.75);
}
  
#zona-ataques > p {  /* el <p> "VS." */
    grid-column: 2;
    grid-row: 1;
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.95);
}
  
#seccion-mascota-enemigo {
    grid-column: 3;
    grid-row: 1;
}
  
/* Fila 2 */
#ataques-jugador,#resultado-ataques,#ataques-enemigo {
    grid-column: 1;
    grid-row: 2;
    color: white;
    font-size:25px;
    text-align: center;
}

#resultado-ataques {
    grid-column: 2;
    grid-row: 2;
}

#ataques-enemigo {
    grid-column: 3;
    grid-row: 2;
}

#ver-mapa {
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#mapa { 
    border: 2px solid white;
}

@media (max-width: 360px) {
    .tarjetas {
        flex-direction: column;
    }

    .btn-ataques {
        flex-direction: column;
    }
}